{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "tabWidth": 2,
  "printWidth": 80,
  "jsxBracketSameLine": true,
  "semi": true,
  "importOrder": [
    "^@nestjs/(.*)$",
    "^@core/(.*)$",
    "^@server/(.*)$",
    "^@ui/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "experimentalBabelParserPluginsList": ["jsx", "typescript"],
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": [
    "typescript",
    "classProperties",
    "decorators-legacy",
    "[\"decorators\", { \"decoratorsBeforeExport\": true }]"
  ]
}
